.ui-datepicker-next ui-corner-all{
            color:black;
        }
        
        .ui-datepicker-prev ui-corner-all{
            color:black;
        }
        .ui-datepicker-month{
            color:black;
        }
        .ui-datepicker-year{
            color:black;
        }
		
	   .colores{
            background-color:white;width:80%;margin:0 auto;
       }

        .fotoperfil-medida{
            width:180px;height:180px;
        }
		
        .white{
            background-color:white;
        }
        .color{
            background-color:white;width:50%;margin:0 auto;
        }