#commentForm{
width:500px;
}
#commentForm label{
	width:250px;
}
#commentForm label.error,#commentForm input.submit{
	margin-left:253px;
}

#signupForm label.error{
	margin-left:10px;
	width:100%;
	display:inline;color:red;
}



#newsletter_topics label.error{
	display:none;margin-left:103px;
}
#loginForm label.error{
	margin-left:10px;width:auto;display:inline;
}
#loginForm label.error{
	display:none;margin-left:103px;
}



